<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="autonomous_ugv">

  <!-- Core chassis, wheels, dynamics -->
  <xacro:include filename="$(find autonomous_ugv_description)/urdf/robot_core.xacro" />

  <!-- Sensors: RGB-D, IMU, LiDAR -->
  <xacro:include filename="$(find autonomous_ugv_description)/urdf/sensors.xacro" />

  <!-- Gazebo sensor plugins & controllers -->
  <xacro:include filename="$(find autonomous_ugv_description)/urdf/gazebo_plugins.xacro" />

</robot>
